{% extends 'admin_nav.html' %}

{% block content %}


<h3 class="container-fluid text-dark font-weight-bold text-center mt-3">Users List</h3>

{% if task %}

<div class="row jumbotron ">
{% for i in task %}


            <div class="col-md-12 col-sm-12 mt-3">
                <ul class="list-group borderless">
                    <li class="list-group-item"><b>Title</b> :{{i.title}} </li>
                    <li class="list-group-item"><b>Due Date</b> :{{i.due_date}}</li>
                    <li class="list-group-item"><b>Assigned To</b> :{{i.assigned_to.first_name}} {{i.assigned_to.last_name}}</li>
                    <li class="list-group-item"><b>Status</b> :{{i.status}}</li>
                    {% comment %} {% if i.status == 'Completed' %}
                    <li class="list-group-item list-group-item-sm">
                        <a href="{% url 'edit_user' i.id %}" class="btn btn-sm btn-info">View Detail</a>
                    </li>
                    {% endif %} {% endcomment %}
                    <li class="list-group-item list-group-item-sm">
                        <a href="{% url 'edit_task' i.id %}" class="btn btn-sm btn-warning">EDIT</a>
                        <a href="{% url 'delete_task' i.id %}" class="btn btn-sm btn-danger" onclick=" return confirm('Are you sure?')">DELETE</a>
                    </li>
                </ul>
            </div>
        
        {% endfor %}    
    </div>
    {% endif %}
</div>
<!-- </div> -->
{% endblock content %}